TravelApplication/TravelApplication/Connected Services/TravelServiceReferences/TravelService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57352/TravelService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TravelService" />
  <xs:element name="GetLocations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TravelService" minOccurs="0" name="GetLocationsResult" nillable="true" type="q1:ArrayOfLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TravelService" minOccurs="0" name="location" nillable="true" type="q2:Location" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddLocationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TravelService" minOccurs="0" name="location" nillable="true" type="q3:Location" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditLocationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteLocationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>