TravelApplication/TravelApplication/Connected Services/TravelServiceReferences/TravelService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TravelService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57352/TravelService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57352/TravelService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57352/TravelService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TravelService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITravelService_GetLocations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocations" />
  </wsdl:message>
  <wsdl:message name="ITravelService_GetLocations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="ITravelService_AddLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLocation" />
  </wsdl:message>
  <wsdl:message name="ITravelService_AddLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLocationResponse" />
  </wsdl:message>
  <wsdl:message name="ITravelService_EditLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:EditLocation" />
  </wsdl:message>
  <wsdl:message name="ITravelService_EditLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditLocationResponse" />
  </wsdl:message>
  <wsdl:message name="ITravelService_DeleteLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLocation" />
  </wsdl:message>
  <wsdl:message name="ITravelService_DeleteLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLocationResponse" />
  </wsdl:message>
  <wsdl:portType name="ITravelService">
    <wsdl:operation name="GetLocations">
      <wsdl:input wsaw:Action="http://tempuri.org/ITravelService/GetLocations" message="tns:ITravelService_GetLocations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITravelService/GetLocationsResponse" message="tns:ITravelService_GetLocations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/ITravelService/AddLocation" message="tns:ITravelService_AddLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITravelService/AddLocationResponse" message="tns:ITravelService_AddLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/ITravelService/EditLocation" message="tns:ITravelService_EditLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITravelService/EditLocationResponse" message="tns:ITravelService_EditLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/ITravelService/DeleteLocation" message="tns:ITravelService_DeleteLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITravelService/DeleteLocationResponse" message="tns:ITravelService_DeleteLocation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITravelService" type="tns:ITravelService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLocations">
      <soap:operation soapAction="http://tempuri.org/ITravelService/GetLocations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLocation">
      <soap:operation soapAction="http://tempuri.org/ITravelService/AddLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditLocation">
      <soap:operation soapAction="http://tempuri.org/ITravelService/EditLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLocation">
      <soap:operation soapAction="http://tempuri.org/ITravelService/DeleteLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TravelService">
    <wsdl:port name="BasicHttpBinding_ITravelService" binding="tns:BasicHttpBinding_ITravelService">
      <soap:address location="http://localhost:57352/TravelService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>